/*--
/*  4.1 - Slider CSS
/*----------------------------------------*/

// Slider Section 
.slider-section{
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 9;
    padding-top: 188px;
    display: flex;
    align-items: center;

    @media #{$tablet-device, $large-mobile}{
        height: auto;
        padding-top: 200px;
        display: block;
    }


    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(43, 16, 32, 0.55);
      left: 0;
      top: 0;
      z-index: -1;
    }


    &::after {

      content: "";
      width: 150px;
      height: 150px;
      background-image: url("../../images/shape/technology-pattern.svg");
      position: absolute;
      right: 10px;
      bottom:0;
      z-index: 0;
      opacity: .5;
      display: flex;
      background-repeat: no-repeat;
      background-size: 40%;


    }
}



.slider-video-bg {
  position: absolute;
  object-fit: cover;
  z-index: -2;
  width: 100%;
  left: 0;
  top: 0;

}

// Slider Content 
.slider-content{


    display: flex;
    flex-direction: column;


    & .sub-title{
        font-size: 25px;
        font-weight: 300;
        margin-top: 0;
        color: $secondary;

        @media #{$desktop-device, $tablet-device, $large-mobile}{
            font-size: 16px;
        }

        @media #{$small-mobile}{
            font-size: 14px;
        }
    }
    & .main-title{
        font-size: 60px;
        font-weight: 900;
        line-height: 1.3;
        margin-top: -50px;
        margin-bottom: 25px;
        color: $secondary;
        @media #{$small-mobile}{
            font-size: 24px;
        }

        & span{
            color: $secondary;
            position: relative;

            &::before{
                position: absolute;
                content: '';
                background-image: url(../../images/shape/shape-4.png);
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 214px;
                height: 21px;
                left: 50%;
                bottom: -26px;
                transform: translateX(-50%);

                @media #{$small-mobile}{
                    display: none;
                }
            }
        }
    }
    & p{
        font-size: 18px;
        margin-top: 55px;
        margin-bottom: 0;

        @media #{$small-mobile}{
            margin-top: 35px;
        }
    }
    & .btn{
        margin-top: 28px;
    }
}
